{% set latestPost = collections.postFeed  %}
{% if latestPost.length %}

	{% for item in latestPost.slice(0, 1) %}
		<h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">{{ postListHeading }}</h2>
	  <h3 class="font-base leading-tight text-600 weight-mid">
	    <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
	  </h3>
	  <p class="meta">By {{ item.data.author }} on <time datetime="{{ item.date.toUTCString() | w3DateFilter }}">{{ item.date | dateFilter }}</time></p>
	  {{ item.templateContent | safe }}
	{% endfor %}

{% endif %}