{% set postListItems = collections.postFeed %}

{% if postListItems.length %}
  <section class="post-list" id="allposts">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h4>All Posts</h4>
      <ul>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li>
            	<a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
