<header class="header container">
	<figure class="logo" role="presentation">Scott<span>.fyi</span></figure>
  {% set ariaLabel = 'navigation' %}
  {% include "partials/components/nav.njk" %}
</header>
