
  <div class="bfold" id="allposts">
    <div class="container parent">
			{% include "partials/components/post-list.njk" %}
  
      <section>

        <form action="https://fyi.us7.list-manage.com/subscribe/post?u=0c19d88b59dccd847ee3971aa&amp;id=a98fbb527d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <h4>Subscribe</h4>
          
          <p>I will send a notification each time I write a new blog post, or when I have information about my books.</p>
  
          <label for="mce-EMAIL">Email Address</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
  
          <label for="mce-FNAME">First Name</label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
  
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
  
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
  
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c19d88b59dccd847ee3971aa_a98fbb527d" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

        </form>
    
      </section>
    </div>
  </div>
