{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
	<article class="container" role="main" id="main-content">
    <div class="post__body">
      {{ content | safe }}
    </div>
	</article>
{% endblock %}

{{ content | safe }}
