{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
	<article class="container" role="main" id="main-content">
    <h1>{{ title }}</h1>

    <p class="meta">By {{ author }} on {{ date | dateFilter }}</p>

    <div class="post__body">
    	{{ content | safe }}
    </div>
	</article>
{% endblock %}

{{ content | safe }}
